<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sylg.blog.service.documentation.mapper.BlogReviewMapper">
  <resultMap id="BaseResultMap" type="com.sylg.blog.service.documentation.domain.BlogReview">
    <!--@mbg.generated generated on Sun Apr 26 13:48:00 CST 2020.-->
    <!--@Table blog_review-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="blogId" jdbcType="VARCHAR" property="blogId" />
    <result column="isPublish" jdbcType="BOOLEAN" property="isPublish" />
    <result column="extend_s1" jdbcType="VARCHAR" property="extendS1" />
    <result column="extend_s2" jdbcType="VARCHAR" property="extendS2" />
    <result column="extend_s3" jdbcType="VARCHAR" property="extendS3" />
    <result column="extend_i1" jdbcType="DECIMAL" property="extendI1" />
    <result column="extend_i2" jdbcType="DECIMAL" property="extendI2" />
    <result column="extend_f1" jdbcType="DECIMAL" property="extendF1" />
    <result column="extend_f2" jdbcType="DECIMAL" property="extendF2" />
    <result column="extend_d1" jdbcType="TIMESTAMP" property="extendD1" />
    <result column="extend_d2" jdbcType="TIMESTAMP" property="extendD2" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sun Apr 26 13:48:00 CST 2020.-->
    id, blogId, isPublish, extend_s1, extend_s2, extend_s3, extend_i1, extend_i2, extend_f1, 
    extend_f2, extend_d1, extend_d2
  </sql>
  <update id="updateIsPublish">
    update blog_review set isPublish = #{isPublish,jdbcType=BOOLEAN} where blogId = #{blogId,jdbcType=VARCHAR}
  </update>
  <select id="findAllByIsPublishFalse" resultType="string">
    select blogId from  blog_review where isPublish = false
  </select>
  <delete id="deleteByBlogId">
    delete from blog_review where blogId =#{blogId,jdbcType=VARCHAR}
  </delete>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.sylg.blog.service.documentation.domain.BlogReview" useGeneratedKeys="true">
    <!--@mbg.generated generated on Sun Apr 26 13:48:00 CST 2020.-->
    insert into blog_review
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      blogId,
      isPublish,
      extend_s1,
      extend_s2,
      extend_s3,
      extend_i1,
      extend_i2,
      extend_f1,
      extend_f2,
      extend_d1,
      extend_d2,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      #{blogId,jdbcType=VARCHAR},
      #{isPublish,jdbcType=BOOLEAN},
      #{extendS1,jdbcType=VARCHAR},
      #{extendS2,jdbcType=VARCHAR},
      #{extendS3,jdbcType=VARCHAR},
      #{extendI1,jdbcType=DECIMAL},
      #{extendI2,jdbcType=DECIMAL},
      #{extendF1,jdbcType=DECIMAL},
      #{extendF2,jdbcType=DECIMAL},
      #{extendD1,jdbcType=TIMESTAMP},
      #{extendD2,jdbcType=TIMESTAMP},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      blogId = #{blogId,jdbcType=VARCHAR},
      isPublish = #{isPublish,jdbcType=BOOLEAN},
      extend_s1 = #{extendS1,jdbcType=VARCHAR},
      extend_s2 = #{extendS2,jdbcType=VARCHAR},
      extend_s3 = #{extendS3,jdbcType=VARCHAR},
      extend_i1 = #{extendI1,jdbcType=DECIMAL},
      extend_i2 = #{extendI2,jdbcType=DECIMAL},
      extend_f1 = #{extendF1,jdbcType=DECIMAL},
      extend_f2 = #{extendF2,jdbcType=DECIMAL},
      extend_d1 = #{extendD1,jdbcType=TIMESTAMP},
      extend_d2 = #{extendD2,jdbcType=TIMESTAMP},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.sylg.blog.service.documentation.domain.BlogReview" useGeneratedKeys="true">
    <!--@mbg.generated generated on Sun Apr 26 13:48:00 CST 2020.-->
    insert into blog_review
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="blogId != null">
        blogId,
      </if>
      <if test="isPublish != null">
        isPublish,
      </if>
      <if test="extendS1 != null">
        extend_s1,
      </if>
      <if test="extendS2 != null">
        extend_s2,
      </if>
      <if test="extendS3 != null">
        extend_s3,
      </if>
      <if test="extendI1 != null">
        extend_i1,
      </if>
      <if test="extendI2 != null">
        extend_i2,
      </if>
      <if test="extendF1 != null">
        extend_f1,
      </if>
      <if test="extendF2 != null">
        extend_f2,
      </if>
      <if test="extendD1 != null">
        extend_d1,
      </if>
      <if test="extendD2 != null">
        extend_d2,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="blogId != null">
        #{blogId,jdbcType=VARCHAR},
      </if>
      <if test="isPublish != null">
        #{isPublish,jdbcType=BOOLEAN},
      </if>
      <if test="extendS1 != null">
        #{extendS1,jdbcType=VARCHAR},
      </if>
      <if test="extendS2 != null">
        #{extendS2,jdbcType=VARCHAR},
      </if>
      <if test="extendS3 != null">
        #{extendS3,jdbcType=VARCHAR},
      </if>
      <if test="extendI1 != null">
        #{extendI1,jdbcType=DECIMAL},
      </if>
      <if test="extendI2 != null">
        #{extendI2,jdbcType=DECIMAL},
      </if>
      <if test="extendF1 != null">
        #{extendF1,jdbcType=DECIMAL},
      </if>
      <if test="extendF2 != null">
        #{extendF2,jdbcType=DECIMAL},
      </if>
      <if test="extendD1 != null">
        #{extendD1,jdbcType=TIMESTAMP},
      </if>
      <if test="extendD2 != null">
        #{extendD2,jdbcType=TIMESTAMP},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="blogId != null">
        blogId = #{blogId,jdbcType=VARCHAR},
      </if>
      <if test="isPublish != null">
        isPublish = #{isPublish,jdbcType=BOOLEAN},
      </if>
      <if test="extendS1 != null">
        extend_s1 = #{extendS1,jdbcType=VARCHAR},
      </if>
      <if test="extendS2 != null">
        extend_s2 = #{extendS2,jdbcType=VARCHAR},
      </if>
      <if test="extendS3 != null">
        extend_s3 = #{extendS3,jdbcType=VARCHAR},
      </if>
      <if test="extendI1 != null">
        extend_i1 = #{extendI1,jdbcType=DECIMAL},
      </if>
      <if test="extendI2 != null">
        extend_i2 = #{extendI2,jdbcType=DECIMAL},
      </if>
      <if test="extendF1 != null">
        extend_f1 = #{extendF1,jdbcType=DECIMAL},
      </if>
      <if test="extendF2 != null">
        extend_f2 = #{extendF2,jdbcType=DECIMAL},
      </if>
      <if test="extendD1 != null">
        extend_d1 = #{extendD1,jdbcType=TIMESTAMP},
      </if>
      <if test="extendD2 != null">
        extend_d2 = #{extendD2,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>